.hero {
  height: 696px;
  width: 100%;
  background-image:
    url('/Home_page_desk.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

@media (min-resolution: 192dpi),
(min-device-pixel-ratio: 2) {
  .hero {
    background-image: url('/Home_page_desk@2x.webp');
  }
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 64px;
  width: 100%;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 67%;
  color: var(--inputs);
  margin-bottom: 16px;
}

.subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 133%;
  color: var(--inputs);
  margin-bottom: 40px;
}

.button {
  display: inline-block;
  padding: 16px 60px;
  background-color: var(--button);
  color: var(--white);
  border-radius: 200px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.01em;
  line-height: 150%;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button:hover {
  background-color: var(--button-hover);
}