.header {
    padding: 24px 0;
    background-color: var(--inputs);
    border-bottom: 1px solid var(--badges);
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: var(--main);
    flex: 1;
}

.nav {
    display: flex;
    gap: 32px;
    margin: 0 auto;
}

.container::after {
    content: "";
    flex: 1;
}

.link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--main);
    transition: color 0.3s ease;
}

.link:hover {
    color: var(--button-hover);
}

.active {
    color: var(--button);
}