.header {
    padding: 24px 0;
    background-color: #F7F7F7;
    border-bottom: 1px solid #DADDE1;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.2;
    color: #101828;
}

.nav {
    display: flex;
    gap: 32px;
}

.nav a {
    font-weight: 500;
    font-size: 16px;
    color: #101828;
    transition: color 0.3s ease;
}

.nav a:hover {
    color: #E44848;
}