.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 48px 64px;
}

.content {
    display: grid;
    grid-template-columns: 360px 1fr;
    gap: 64px;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.loadMore {
    display: block;
    margin: 40px auto 0;
    padding: 16px 32px;
    background-color: transparent;
    color: var(--main);
    border: 1px solid var(--gray-light);
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.loadMore:hover {
    border-color: var(--button-hover);
}