.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    width: 100%;
    background-color: var(--white);
}

.imageWrapper {
    flex-shrink: 0;
    width: 292px;
    height: 320px;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.details {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.header {
    margin-bottom: 24px;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--main);
    max-width: 340px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceRow {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: var(--main);
}

.meta {
    display: flex;
    gap: 16px;
    font-size: 16px;
    line-height: 1.5;
}

.rating {
    text-decoration: underline;
    display: flex;
    align-items: center;
    gap: 4px;
}

.location {
    display: flex;
    align-items: center;
    gap: 4px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: var(--text);
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button {
    margin-top: auto;
    padding: 16px 40px;
    background-color: var(--button);
    color: var(--white);
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--button-hover);
}