.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid var(--gray-light);
    border-radius: 20px;
    background-color: var(--white);
    height: 368px;
    box-sizing: border-box;
    width: 888px;
}

.imageWrapper {
    width: 290px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.priceContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-size: 24px;
    font-weight: 600;
}

.meta {
    display: flex;
    gap: 16px;
    margin: 8px 0 24px;
}

.description {
    font-size: 16px;
    color: var(--text);
    margin-bottom: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    width: 100%;
    max-height: 104px;
    overflow: hidden;
    margin-bottom: 24px;
}

.badge {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 12px 18px;
    background: var(--badges);
    border-radius: 100px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: var(--main);
    white-space: nowrap;
}
.buttonWrapper {
    margin-top: auto;
}

.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 40px;
    background-color: var(--button);
    color: var(--white) !important;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-decoration: none;
    transition: background-color 0.2s;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: var(--button-hover);
}