.container {
    display: flex;
    flex-direction: column;
    gap: 32px;
    width: 360px;
}

.locationGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 16px;
    line-height: 1.5;
    color: rgba(16, 24, 40, 0.6);
}

.locationInput {
    width: 100%;
    padding: 18px;
    background-color: #f7f7f7;
    border-radius: 12px;
    border: none;
    font-size: 16px;
    outline: none;
}

.filterTitle {
    font-size: 16px;
    font-weight: 500;
    color: #475467;
    margin-bottom: 14px;
}

.section {
    margin-bottom: 24px;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    color: #101828;
    padding-bottom: 24px;
    border-bottom: 1px solid rgba(16, 24, 40, 0.1);
    margin-bottom: 24px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.filterBtn {
    width: 112px;
    height: 95px;
    padding: 12px;
    background-color: transparent;
    border: 1px solid rgba(16, 24, 40, 0.1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.filterBtn:hover {
    border-color: #E44848;
}

.filterBtn.active {
    border: 1px solid #E44848 !important;
    color: #101828;
}

.searchBtn {
    margin-top: 32px;
    padding: 16px 60px;
    background-color: #E44848;
    color: #ffffff;
    border-radius: 200px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.searchBtn:hover {
    background-color: #d84343;
}