.container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 360px;
}

.locationGroup {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.label {
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: var(--gray);
}

.locationInput {
    width: 100%;
    padding: 18px;
    color: var(--main);
    background-color: var(--inputs);
    border-radius: 12px;
    border: none;
    font-size: 16px;
    outline: none;
}

.filterTitle {
    font-size: 16px;
    font-weight: 500;
    color: var(--text);
    margin-bottom: 14px;
}

.section {
    margin-bottom: 24px;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    color: var(--main);
    line-height: 120%;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-light);
    margin-bottom: 24px;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    row-gap: 8px;
    column-gap: 12px;            
}

.filterBtn {
    width: 112px;
    height: 96px;
    padding: 16px 18px;
    background-color: transparent;
    border: 1px solid var(--gray-light);
    color: var(--main);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.filterBtn:hover {
    border: 1px solid var(--button);
}

.filterBtn.active {
    border: 1px solid var(--button) !important;
    color: var(--main);
}

.searchBtn {
    margin-top: 40px;
    padding: 16px 60px;
    background: var(--button);
    color: var(--white);
    border-radius: 200px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.3s ease;
}

.searchBtn:hover {
    background: var(--button-hover);
}
