.filters {
    width: 360px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.label {
    color: var(--gray);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 8px;
    display: block;
}

.input {
    width: 100%;
    padding: 18px 20px;
    color: var(--main);
    background: var(--inputs);
    border: none;
    border-radius: 12px;
    font-size: 16px;
    box-sizing: border-box;
}

.filterTitle {
    color: var(--text);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: -10px;
}

.sectionTitle {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--gray-light);
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 112px);
    gap: 8px;
    row-gap: 8px;
    column-gap: 12px;
}

.filterBtn {
    width: 112px;
    height: 96px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 16px 18px;
    gap: 8px;
    background: var(--white);
    border: 1px solid var(--gray-light);
    border-radius: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* Активний стан при кліку */
.filterBtn.active {
    border-color: var(--button);
}

.filterBtn:hover {
    border-color: var(--button);
}

.btnLabel {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    color: var(--main);
}

.searchBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 16px 60px;
    background: var(--button);
    color: var(--white);
    border: none;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.01em;
    cursor: pointer;
    width: fit-content;
    transition: background-color 0.2s;
}

.searchBtn:hover {
    background: var(--button-hover);
}