.card {
    display: flex;
    gap: 24px;
    padding: 24px;
    border: 1px solid rgba(16, 24, 40, 0.2);
    border-radius: 20px;
    width: 100%;
    background-color: #ffffff;
    height: 368px;
    align-items: stretch;
}

.buttonWrapper {
    margin-top: auto;
    display: flex;
}

.imageWrapper {
    width: 290px;
    height: 320px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.header {
    margin-bottom: 24px;
}

.titleRow {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 8px;
}

.name {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: #101828;
}

.priceContainer {
    display: flex;
    align-items: center;
    gap: 12px;
}

.price {
    font-weight: 600;
    font-size: 24px;
    line-height: 1.25;
    color: #101828;
}

.favoriteBtn {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.ratingLocation {
    display: flex;
    gap: 16px;
    font-size: 16px;
}

.description {
    font-size: 16px;
    line-height: 1.5;
    color: #475467;
    margin-bottom: 24px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin-bottom: 24px;
}

.badge {
    padding: 12px 18px;
    background-color: #f2f4f7;
    border-radius: 100px;
    font-size: 16px;
}

.buttonWrapper {
    margin-top: auto;
    display: flex;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 16px 40px;
    background-color: var(--button);
    color: var(--white) !important;
    border-radius: 200px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    height: 56px;
    width: fit-content;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button:hover {background-color: var(--button-hover);
}